@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url('fonts/Gotham/GothamPro-Bold.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
        url('fonts/Gotham/GothamPro-Light.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Black'), local('GothamPro-Black'),
        url('fonts/Gotham/GothamPro-Black.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
        url('fonts/Gotham/GothamPro-Italic.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
        url('fonts/Gotham/GothamProNarrow-Bold.woff2') format('woff2'),
        url('fonts/Gotham/GothamProNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
        url('fonts/Gotham/GothamPro-Medium.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
        url('fonts/Gotham/GothamPro-BoldItalic.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro'), local('GothamPro'),
        url('fonts/Gotham/GothamPro.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
        url('fonts/Gotham/GothamPro-MediumItalic.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
        url('fonts/Gotham/GothamPro-BlackItalic.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
        url('fonts/Gotham/GothamProNarrow-Medium.woff2') format('woff2'),
        url('fonts/Gotham/GothamProNarrow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
        url('fonts/Gotham/GothamPro-LightItalic.woff2') format('woff2'),
        url('fonts/Gotham/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

