body {
  margin: auto;
  max-width: 1500px;
}

.hamburger-menu {
  display: none;
}

.title {
  font: bold 22px Gotham Pro;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* Arrow */
.arrow {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.arrow div {
  position: relative;
  top: 5px;
  width: 45px;
  height: 1px;
  background-color: #fff;
  display: block;
}
.arrow div::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: -3px;
  right: -1px;
  background-color: #fff;
  transform: rotate(45deg);
}
.arrow div::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: 3px;
  right: -1px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.arrow:hover {
  animation: arrow 1s linear infinite;
}
@keyframes arrow {
  0% {
    left:0;
  }
  50% {
    left:10px;
  }
  100% {
    left:0;
  }
}

/* Arrow black*/
.arrow-black {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.arrow-black div {
  position: relative;
  top: 5px;
  width: 28px;
  height: 1px;
  background-color: #000;
  display: block;
}
.arrow-black div::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: -3px;
  right: 0px;
  background-color: #000;
  transform: rotate(45deg);
}
.arrow-black div::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  top: 3px;
  right: 0px;
  background-color: #000;
  transform: rotate(-45deg);
}
.arrow-black:hover {
  animation: arrow-black 1s linear infinite;
}
@keyframes arrow-black {
  0% {
    left:0;
  }
  50% {
    left:10px;
  }
  100% {
    left:0;
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 5% 30px 5%;
}

.logo-main {
  width: 55px;
  height: 55px;
  background: url(images/logo-big.png);
  background-size: 55px 55px;
}

.menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 500 12px/11px Gotham Pro;
}

.menu__item {
  text-decoration: none;
  color: #000;
  margin-left: 35px;
}

.menu__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu__search-container {
  position: relative;
}

.menu__search {
  border-bottom: 2px solid #000;
  opacity: 0.7;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 170px;
  height: 25px;
  font-size: 12px;
  float: left;
}

.icon{
  position: absolute;
  bottom: 5px;
  right: 0;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
}

.menu__language:hover .language-type {
  display: block;
  margin-left: 15px;
}

.menu__language {
  position: relative;
  display: inline-table;
}

.language {
  margin-left: 35px;
  border: none;
  cursor: pointer;
  background: none;
}

.language-type {
  display: none;
  position: absolute;
}

.menu__cart {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  color: white;
  background: black;
  font: 900 10px/17px Gotham Pro;
  margin-left: 5px;
}

/* Top */
.top {
  margin: 0 6% 50px 6%;
  height: 280px;
  position: relative;
  background: url(images/main.jpg);
}

.top__text {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.top__title {
  font: 500 30px/29px Gotham Pro;
}

.top__subtitle {
  display: flex;
  justify-content: left;
  font: 500 12px/11px Gotham Pro;
}

/* Catalog */
.catalog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5% 50px 5%;
}

.catalog__models {
  display: flex;
  justify-content: space-between;
}

.model__line {
  border-left: 2px solid #e5e5e5;
  height: 100px;
  margin-top: 40px;
}

.model {
  margin: 0 auto;
  width: 187px;
}

.model:nth-child(1) {
  background: url(images/shoes-black.jpg) no-repeat;
  background-size: 187px 173px;
}

.model:nth-child(3) {
  background: url(images/shoes-brown.jpg) no-repeat;
  background-size: 187px 173px;
}

.model:nth-child(5) {
  background: url(images/shoes-grey.jpg) no-repeat;
  background-size: 187px 173px;
}

.model:nth-child(7) {
  background: url(images/shoes-white.jpg) no-repeat;
  background-size: 187px 173px;
}

.model__title {
  font: 400 12px Gotham Pro;
  margin-top: 170px;
  margin-bottom: 8px;
}

.model__price-color {
  display: flex;
  justify-content: space-between;
}

.model__price {
  font: bold 14px Gotham Pro;
}

.model__color {
  display: flex;
  align-items: center;
}

.model__cirle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 4px;
  background: black;
}

.model__cirle:nth-child(2) {
  width: 9px;
  height: 9px;
}

.model__cirle_grey {
  background: #c4c4c4;
}

.model__cirle_yellow {
  background: #fdb431;
}

.model__cirle_red {
  background: #b62e3c;
}

.model__cirle_blue {
  background: #257da9;
}

.model__cirle_brown {
  background: #762e31;
}

.model__cirle_beige {
  background: #e29d69;
}

/* Video */
.video {
  margin: auto;
  height: 494px;
  background-color: black;
  display: flex;
  align-items: center;
  margin: 0 5% 50px 5%;
}

.video__foto-container {
  position: relative;
  margin: auto 4%;
}

.video__foto img {
  width: 628px;
  height: 345px;
}

.video__play {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #7f7f7f;
  border-bottom: 5px solid transparent;
}

.video__text {
  margin: auto 7%  auto 0;
}

.video__title {
  font: 500 22px/27px Gotham Pro;
  color: white;
  text-transform: uppercase;
}

.video__subtitle {
  font: 300 14px/17px Gotham Pro;
  color: white;
  margin-bottom: 15px;
}

.video__more {
  font: 500 12px Gotham Pro;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: left;
}

/* Story */
.story {
  display: flex;
  justify-content: space-between;
  margin: 20px 5% 50px 5%;
}

.story-box {
  width: 307px;
}

.story-box:nth-child(1) {
  background: url(images/story-1.jpg) no-repeat;
}

.story-box:nth-child(2) {
  background: url(images/story-2.jpg) no-repeat;
}

.story-box:nth-child(3) {
  background: url(images/story-3.jpg) no-repeat;
}

.story-box__title {
  font: 600 18px/17px Gotham Pro;
  margin-top: 170px;
  margin-bottom: 8px;
}

.story-box__subtitle {
  font: 400 14px/17px Gotham Pro;
  margin-bottom: 18px;
}

.story-box__footer {
  display: flex;
  justify-content: space-between;
}

.story-box__more {
  display: flex;
  justify-content: left;
  font: 600 12px/11px Gotham Pro;
  text-transform: uppercase;30
}

.story-box__date {
  color: #b3b3b3;
  font: 600 12px/11px Gotham Pro;
}

/* Gallery */
.gallery {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  max-width: 1029px;
  margin: auto auto 80px auto;
}

.gallery__fotos {
  display: flex;
}

.gallery__foto {
  width: 147px;
  height: 147px;
}

.gallery__foto:nth-child(8) {
  display: none;
}

.gallery__tag {
  align-self: flex-end;
  color: #b7b7b7;
  font: 18px Gotham Pro;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* Footer */
.footer {
  height: 250px;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 12px/11px Gotham Pro;
  color: #fff;
  padding-top: 65px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 67%;
  margin-bottom: 50px;
}

.footer__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__offer {
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 6px;
  color: #fff;
}

p {
  margin: 6px 0;
}

.footer__button {
  width: 136px;
  height: 30px;
  border: 1.5px solid #fff;
  color: #fff;
  background-color: #000;
  margin-top: 5px;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}

.footer__button:hover {
  color: #01579b;
  background-color: #ccc;
  border-color: #01579b;
}

.footer__socialnets {
  display: flex;
  justify-content: space-between;
  width: 136px;
}

.footer__quote {
  font: 400 12px Gotham Pro;
  text-align: justify;
  color: #fff;
}


@media (max-width: 1060px) {
  .model:nth-child(n) {
    background-size: 170px 173px;
  }

  .top {
      height: 253px;
  }

  .video {
    height: 442px;
  }

  .video__foto img {
    width: 563px;
    height: 309px;
  }

  .video__play {
    width: 41px;
    height: 41px;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
  }

  .triangle {
    border-top: 4px solid transparent;
    border-left: 7px solid #7f7f7f;
    border-bottom: 4px solid transparent;
  }

  .story-box {
    width: 277px;
  }

  .story-box:nth-child(n) {
    background-size: 277px 147px;
  }

  .gallery {
    max-width: 924px;
  }

  .gallery__foto {
    width: 132px;
    height: 132px;
  }
}

/* Tablet  */
@media (max-width: 950px) {

/* Header */
  .menu-right {
    display: none;
  }

  .menu-left {
    display: none;
  }

  .logo-mobile {
    width: 157px;
    height: 34px;
    background: url(images/logo-small.png);
    background-size: 157px 34px;
  }

  /* Mobile hamburger */
  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5% 30px 5%;
  }

  .menu__btn {
    position: fixed;
    right: 8%;
    width: 61px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  /* Отрисовка полосок бургера */
  .menu__btn > span, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 70px;
    height: 9px;
    background-color: #000;
    transition-duration: .25s;
  }

  .menu__btn > span::after {
    content: '';
    top: 15px;
  }

  /* Отрисовка крестика вместо бургера */
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu {
    left: 0;
  }

  #menu__toggle {
    opacity: 0;
  }

/* Top */
  .top__title {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  .top__subtitle {
    font-size: 20px;
    line-height: 19px;
  }

/* Catalog */

/* Video */

/* Story */
.story-box {
  width: 313px;
}

.story-box:nth-child(n) {
  background-size: 313px 165px;
}

.story-box:nth-child(3) {
  display: none;
}

.story-box__title {
  font-size: 25px;
  line-height: 24px;
}

.story-box__subtitle {
  font-size: 20px;
  line-height: 25px;
}

  .story-box__more {
    font-size: 20px;
    line-height: 19px;
  }

/* Gallery */
  .gallery {
    max-width: 680px;
  }

  .gallery__fotos {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery__foto {
    width: 170px;
    height: 170px;
  }

  .gallery__foto:nth-child(8) {
    display: initial;
  }

/* Footer */
.footer {
  height: 240px;

}

.footer__columns {
  width: 85%;
}



/* Mobile hamburger
  .menu {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    text-align: center;
    padding: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
  }

  /* Изменнение текста при наведении
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .menu__item:hover:after {
    width: 0;
  } */



}
