body {
  margin: 0;
}

.title {
    font: bold 22px Gotham Pro;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* .arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

hr {
  margin: 0;
  height: 0px;
  align-self: center;
} */


.arrow {

  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  position: relative;
}
  arrow::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: #000;
    border-width: 2px 2px 0 0;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    margin: -15px 0 0 -20px;
  }

  .arrow::after {
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #000;
  position: absolute;
  transform-origin: 50% 50%;
  width: 40px;
  height: 0;
  border-width: 2px 0 0 0;
  transform: translate(-26px, -1px);
}



/* Top */
.top {
  width: 1030px;
  height: 280px;
  margin: 50px auto;
  position: relative;
  background: url(images/main.jpg);
}

.top__text {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.top__title {
  font: 500 30px/29px Gotham Pro;
}

.top__subtitle {
  display: flex;
  justify-content: left;
  font: 400 12px/11px Gotham Pro;
}

/* Catalog */
.catalog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5% 50px 5%;
}

.catalog__models {
  display: flex;
  justify-content: space-between;
}

.model__line {
  border-left: 2px solid #e5e5e5;
  height: 100px;
  margin-top: 40px;
}

.model {
  margin: 0 auto;
  width: 187px;
}

.model:nth-child(1) {
  background: url(images/shoes-black.jpg) no-repeat;
  background-size: 187px 173px;
}

.model:nth-child(3) {
  background: url(images/shoes-brown.jpg) no-repeat;
  background-size: 187px 173px;
}

.model:nth-child(5) {
  background: url(images/shoes-grey.jpg) no-repeat;
  background-size: 187px 173px;
}

.model:nth-child(7) {
  background: url(images/shoes-white.jpg) no-repeat;
  background-size: 187px 173px;
}

.model__title {
  font: 400 12px Gotham Pro;
  margin-top: 170px;
  margin-bottom: 8px;
}

.model__price-color {
  display: flex;
  justify-content: space-between;
}

.model__price {
  font: bold 14px Gotham Pro;
}

.model__color {
  display: flex;
  align-items: center;
}

.model__cirle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 4px;
  background: black;
}

.model__cirle:nth-child(1) {
  background: #c4c4c4;
}

.model__cirle:nth-child(2) {
  width: 9px;
  height: 9px;
}

.model__cirle:nth-child(4) {
  background: #fdb431;
}


/*
.catalog__color_first:nth-child(1) {
  color: #c4c4c4;
}

.catalog__color_first:nth-child(2) {
  background: #0e1211;
}

.catalog__color_first:nth-child(3) {
  background: #b62e3c;
}



.catalog__color_second:nth-child(1) {
  background: #c4c4c4;
}

.catalog__color_second:nth-child(2) {
  background: #e29d69;
}

.catalog__color_second:nth-child(3) {
  background: #b62e3c;
}

.catalog__color_second:nth-child(4) {
  background: #fdb431;
}

.catalog__color_third:nth-child(1) {
  background: #c4c4c4;
}

.catalog__color_third:nth-child(2) {
  background: #762e31;
}

.catalog__color_third:nth-child(3) {
  background: #41479b;
}

.catalog__color_third:nth-child(4) {
  background: #fdb431;
}

.catalog__color_fourth:nth-child(1) {
  background: #c4c4c4;
}

.catalog__color_fourth:nth-child(2) {
  background: #257da9;
}

.catalog__color_fourth:nth-child(3) {
  background: #b62e3c;
}

.catalog__color_fourth:nth-child(4) {
  background: #fdb431;
} */


/* Video */
.video {
  margin: auto;
  height: 442px;
  background-color: black;
  display: flex;
  align-items: center;
  margin: 0 5% 50px 5%;
}

.video__foto-container {
  position: relative;
  margin: auto 4%;
}

.video__foto img {
  width: 628px;
  height: 345px;
}

.video__play {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__text {
  margin: auto 7%  auto 0;
}

.video__title {
  font: 500 22px/27px Gotham Pro;
  color: white;
  text-transform: uppercase;
}

.video__subtitle {
  font: 300 14px/17px Gotham Pro;
  color: white;
  margin-bottom: 15px;
}

.video__more {
  font: 500 12px Gotham Pro;
  color: white;
  text-transform: uppercase;
}

/* Story */
.story {
  display: flex;
  justify-content: space-between;
  margin: 20px 5% 50px 5%;
}

.story-box {
  background-size: 307px 147px;
  width: 307px;
}

.story-box:nth-child(1) {
  background: url(images/story-1.jpg) no-repeat;
}

.story-box:nth-child(2) {
  background: url(images/story-2.jpg) no-repeat;
}

.story-box:nth-child(3) {
  background: url(images/story-3.jpg) no-repeat;
}

.story-box__title {
  font: 600 18px/17px Gotham Pro;
  margin-top: 170px;
  margin-bottom: 8px;
}

.story-box__subtitle {
  font: 400 14px/17px Gotham Pro;
  margin-bottom: 18px;
}

.story-box__footer {
  display: flex;
  justify-content: space-between;
}

.story-box__more {
  font: 600 12px/11px Gotham Pro;
  text-transform: uppercase;
}

.story-box__date {
  color: #b3b3b3;
  font: 600 12px/11px Gotham Pro;
}

/* Gallery */
.gallery {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  max-width: 1029px;
  margin: auto auto 80px auto;
}

.gallery__fotos {
  display: flex;
}

.gallery__foto {
  width: 147px;
  height: 147px;
}

.gallery__tag {
  align-self: flex-end;
  color: #b7b7b7;
  font: 18px Gotham Pro;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* Footer */
.footer {
  height: 250px;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 12px/11px Gotham Pro;
  color: #fff;
  padding-top: 65px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 67%;
  margin-bottom: 50px;
}

.footer__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__offer {
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 6px;
  color: #fff;
}

p {
  margin: 6px 0;
}

.footer__button {
  width: 136px;
  height: 30px;
  border: 1.5px solid #fff;
  color: #fff;
  background-color: #000;
  margin-top: 5px;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 10px;
}

.footer__socialnets {
  display: flex;
  justify-content: space-between;
  width: 136px;
}

.footer__quote {
  font: 400 12px Gotham Pro;
  text-align: justify;
  color: #fff;
}
